{
  "development": {
    "emailConfirmation" : false,
    "logging" : false,
    "tokenSecret" : "lkjkl43jkljdlkj4l3k5jlk",
    "username" : "postgres",
    "password" : "postgres",
    "database" : "nearstore_development",
    "host" : "127.0.0.1",
    "port" : "5432",
    "dialect" : "postgres",
    "email": {
      "engine": "sendgrid",
      "from": "noreply@example.com",
      "contentType": "html",
      "clientDns": "http://localhost:3000",
      "credentials": {
        "sendgrid": {
          "apiKey": ""
        },
        "ses": {},
        "bypass": {}
      }
    },
    "aws": {
      "accessKeyId": "",
      "secretAccessKey": "",
      "region": "sa-east-1",
      "s3Bucket": ""
    },
    "pagarme": {
      "baseUri": "https://api.pagar.me/1"
    }
  },
  "test": {
    "emailConfirmation" : false,
    "logging" : false,
    "tokenSecret" : "lkwjlkdsjfio435ju43iou5iouj",
    "username" : "postgres",
    "password" : "postgres",
    "database" : "nearstore_test",
    "host" : "127.0.0.1",
    "port" : "5432",
    "dialect" : "postgres",
    "email": {
      "engine": "sendgrid",
      "from": "noreply@example.com",
      "contentType": "html",
      "clientDns": "http://localhost:3000",
      "credentials": {
        "sendgrid": {
          "apiKey": ""
        },
        "ses": {},
        "bypass": {}
      }
    },
    "aws": {
      "accessKeyId": "",
      "secretAccessKey": "",
      "region": "sa-east-1",
      "s3Bucket": ""
    }
  },
  "production" : {
    "emailConfirmation" : true,
    "logging" : false,
    "tokenSecret" : "dkfjdsh3hjshfjkwhrkjh45rkjhkj",
    "username" : "postgres",
    "password" : "postgres",
    "database" : "nearstore_production",
    "host" : "127.0.0.1",
    "port" : "5432",
    "dialect" : "postgres",
    "email": {
      "engine": "sendgrid",
      "from": "noreply@example.com",
      "contentType": "html",
      "clientDns": "http://localhost:3000",
      "credentials": {
        "sendgrid": {
          "apiKey": ""
        },
        "ses": {},
        "bypass": {}
      }
    },
    "aws": {
      "accessKeyId": "",
      "secretAccessKey": "",
      "region": "sa-east-1",
      "s3Bucket": ""
    },
    "pagarme": {
      "baseUri": "https://api.pagar.me/1"
    }
  } 
}
