<p>Hi, <%= email %>,</p>
<p>
  You were invited to join the <a href="https://mundigital.com.br">Mundigital</a> family.
  <br>
  Your confirmation code is:
  <br>
  <strong><%= confirmToken %></strong>
</p>
<p>
  Best regards,
</p>
<a href="https://mundigital.com.br">Mundigital</a> team.
